.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
}

.imgPreviewModal {
    position: fixed;
    top: 15vh;
    left: 15vw;
    width: 60vw;
    padding: 60px;
    z-index: 100;
    background: white;
    box-shadow: 0, 2px, 8px, rgba(0, 0, 0, 0.26);
}

.actions {
    margin-top: 15px;
    text-align: right;
}

.cropBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 15px;
}

#grid-child-1 {
    height: 200px;
    width: 200px;
}
  
.resultImage {
    float:left;
    width:50%;
    overflow:hidden;
}