<div class="backdrop" (click)="onClose()"></div>
<div class="imgPreviewModal">
    <h1 style="text-align: center;">Crop Image</h1>
    <div class="cropBox">
        <div class="grid-child" id="grid-child-1">
            <div height="250" width="250">
                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                    [aspectRatio]="4 / 3" format="jpeg" (imageCropped)="imageCropped($event)"
                    (loadImageFailed)="loadImageFailed()">
                </image-cropper>
            </div>
        </div>

        <div class="">
            <div>
                <img height="250" width="250" [src]="croppedImage" />
            </div>
        </div>
    </div>

    <div class="actions">
        <button mat-raised-button style="margin-right:10px;" (click)="onClose()" color="warn">Close</button>
        <button mat-raised-button style="margin-left:10px;" (click)="onUpload()" color="primary">Upload</button>
    </div>

</div>