<div fxLayout="coloumn" fxLayoutAlign="space-around center">

    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm.value)" class="example-form">
        <mat-card>
            <mat-card-title>
                Change password
            </mat-card-title>

            <mat-card-content>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Current password</mat-label>
                    <input matInput type="text" [type]="hide ? 'password' : 'text'" class="form-control"
                        formControlName="password" />
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{ passwordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <!-- error message -->
                    <mat-error
                        *ngIf="changePasswordForm.get('password').hasError('minlength') && !changePasswordForm.get('password').hasError('required')">
                        Password must be at least 6 characters long
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.get('password').hasError('required')">
                        Please enter a password
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>New password</mat-label>
                    <input matInput type="text" [type]="passwordHide ? 'password' : 'text'" class="form-control"
                        formControlName="newPassword" />
                    <button type="button" mat-icon-button matSuffix (click)="passwordHide = !passwordHide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{ passwordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <!-- error message -->
                    <mat-error
                        *ngIf="changePasswordForm.get('newPassword').hasError('minlength') && !changePasswordForm.get('newPassword').hasError('required')">
                        Password must be at least 6 characters long
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required')">
                        Please enter a password
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input matInput type="text" [type]="confirmPasswordHide ? 'password' : 'text'" class="form-control"
                        formControlName="confirmPassword" />
                    <button type="button" mat-icon-button matSuffix (click)="confirmPasswordHide = !confirmPasswordHide"
                        [attr.aria-label]="'Hide confirmPassword'" [attr.aria-pressed]="hide">
                        <mat-icon>{{ confirmPasswordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <!-- error message -->
                    <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('ConfirmedValidator')">
                        Password does not match
                    </mat-error>
                </mat-form-field>

            </mat-card-content>

            <mat-card-actions align="end">
                <button type="button" mat-raised-button style="margin-right:10px;" color="warn" [routerLink]="['/home']"
                    routerLinkActive="router-link-active">Cancel</button>
                <button mat-raised-button style="margin-left:10px" color="primary"
                    [disabled]="!changePasswordForm.valid" type="submit">Submit</button>
            </mat-card-actions>

        </mat-card>


    </form>
</div>