<div fxLayout="coloumn" fxLayoutAlign="space-around center">

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm.value)" class="example-form">

        <mat-card>
            <mat-card-title>
                Forgot Password ?
            </mat-card-title>

            <mat-card-content>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email / Phone Number</mat-label>
                    <input matInput type="text" placeholder="Ex. johndoe@gmail.com / 123456789" class="form-control"
                        formControlName="emailOrPhone">
                    <!-- error message -->
                    <mat-error
                        *ngIf="forgotPasswordForm.get('emailOrPhone').hasError('pattern') && !forgotPasswordForm.get('emailOrPhone').hasError('required')">
                        Please enter a valid email address or phone number
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('emailOrPhone').hasError('required')">
                        Please enter your email address or phone number
                    </mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-raised-button style="margin-right:10px" color="warn" [routerLink]="['/login']"
                    routerLinkActive="router-link-active">Log in</button>
                <button mat-raised-button style="margin-right:10px; margin-left: 10px;" color="accent"
                    [routerLink]="['/signup']" routerLinkActive="router-link-active">Sign up</button>
                <button mat-raised-button style="margin-left:10px" color="primary"
                    [disabled]="!forgotPasswordForm.valid" type="submit">Submit</button>
            </mat-card-actions>
        </mat-card>

    </form>

</div>