<div fxLayout="coloumn" fxLayoutAlign="space-around center">

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)" class="example-form">
        <mat-card>
            <mat-card-title>
                Reset password <span class="mat-body-2">&#40;{{userEmailOrPhone? userEmailOrPhone:"No email or phone
                    number has been seleted"}}&#41;</span>
            </mat-card-title>

            <mat-card-content>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>New password</mat-label>
                    <input matInput type="text" [type]="passwordHide ? 'password' : 'text'" class="form-control"
                        formControlName="newPassword" />
                    <button type="button" mat-icon-button matSuffix (click)="passwordHide = !passwordHide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{ passwordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <!-- error message -->
                    <mat-error
                        *ngIf="resetPasswordForm.get('newPassword').hasError('minlength') && !resetPasswordForm.get('newPassword').hasError('required')">
                        Password must be at least 6 characters long
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('required')">
                        Please enter a password
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input matInput type="text" [type]="confirmPasswordHide ? 'password' : 'text'" class="form-control"
                        formControlName="confirmPassword" />
                    <button type="button" mat-icon-button matSuffix (click)="confirmPasswordHide = !confirmPasswordHide"
                        [attr.aria-label]="'Hide confirmPassword'" [attr.aria-pressed]="hide">
                        <mat-icon>{{ confirmPasswordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <!-- error message -->
                    <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('ConfirmedValidator')">
                        Password does not match
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>OTP</mat-label>
                    <input matInput type="text" [type]="hide ? 'password' : 'text'" class="form-control"
                        formControlName="otp" />
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide otp'" [attr.aria-pressed]="hide">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <!-- error message -->
                    <mat-error *ngIf="resetPasswordForm.get('otp').hasError('required')">
                        Please enter your one time password (OTP)
                    </mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-raised-button style="margin-right:10px" color="warn" [routerLink]="['/login']"
                    routerLinkActive="router-link-active">Log in</button>
                <button type="button" mat-raised-button style="margin-right:10px; margin-left:10px" color="accent"
                    (click)="resendOtp()" routerLinkActive="router-link-active">Resend OTP</button>
                <button mat-raised-button style="margin-left:10px" color="primary" [disabled]="!resetPasswordForm.valid"
                    type="submit">Submit</button>
            </mat-card-actions>

        </mat-card>


    </form>
</div>