.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 30%;
    margin-top: 5%;
}
.example-full-width {
    width: 100%;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}