<div fxLayout="column" fxLayoutAlign="space-between center">
    <app-image-preview [image]="image" *ngIf="previewImage" (finalImage)="uploadImg($event)"
        (close)="closeImagePreview()">
    </app-image-preview>
    <mat-card class="welcome-mat-card">
        <mat-card-title>
            Welcome, {{userName}}
        </mat-card-title>

        <mat-card-content>
            <img src="{{userProfileImage}}" height="225" width="225" alt="...">
        </mat-card-content>

        <mat-card-actions align="center">
            <input #uploadImage hidden="true" type="file" onclick="this.value=null"
                (change)="sendImgToImagePreview($event)" accept="image/png, image/jpeg, image/jpg" />
            <button mat-flat-button color="accent" style="margin-right:10px" (click)="uploadImage.click()">Upload
                Image</button>

            <button mat-raised-button style="margin-right:10px; margin-left: 10px;" color="primary"
                [routerLink]="['/home/change-password']" routerLinkActive="router-link-active">Change
                password</button>

            <button mat-raised-button style="margin-left:10px" color="warn" (click)="logout()">Log out</button>
        </mat-card-actions>

    </mat-card>
</div>