<div fxLayout="row" fxLayoutAlign="space-around center">

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)" class="example-form">
        <mat-card>
            <mat-card-title>
                Sign up
            </mat-card-title>

            <mat-card-content>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" placeholder="Ex. John" class="form-control" formControlName="firstName">
                    <!-- error message -->
                    <mat-error
                        *ngIf="signupForm.get('firstName').hasError('minlength') && !signupForm.get('firstName').hasError('required')">
                        First name must be at least 3 characters long
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('firstName').hasError('required')">
                        Please enter your first name
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" placeholder="Ex. Doe" class="form-control" formControlName="lastName">
                    <!-- error message -->
                    <mat-error
                        *ngIf="signupForm.get('lastName').hasError('minlength') && !signupForm.get('lastName').hasError('required')">
                        Last name must be at least 3 characters long
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('lastName').hasError('required')">
                        Please enter your last name
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" placeholder="Ex. johndoe@gmail.com" class="form-control"
                        formControlName="email">
                    <!-- error message -->
                    <mat-error
                        *ngIf="signupForm.get('email').hasError('email') && !signupForm.get('email').hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('email').hasError('required')">
                        Please enter your email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput type="text" placeholder="Ex. 0123456789" class="form-control"
                        formControlName="phone">
                    <!-- error message -->
                    <mat-error
                        *ngIf="signupForm.get('phone').hasError('pattern') && !signupForm.get('phone').hasError('required')">
                        Please enter a valid phone number
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('phone').hasError('required')">
                        Please enter your phone number
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="text" [type]="hide ? 'password' : 'text'" class="form-control"
                        formControlName="password" />
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <!-- error message -->
                    <mat-error
                        *ngIf="signupForm.get('password').hasError('minlength') && !signupForm.get('password').hasError('required')">
                        Password must be at least 6 characters long
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('password').hasError('required')">
                        Please enter a password
                    </mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-raised-button style="margin-right:10px" color="warn" [routerLink]="['/login']"
                    routerLinkActive="router-link-active">Log in</button>
                <button mat-raised-button style="margin-left:10px" color="primary" [disabled]="!signupForm.valid"
                    type="submit">Submit</button>
            </mat-card-actions>

        </mat-card>
    </form>

</div>