<div fxLayout="column" fxLayoutAlign="space-between center">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="example-form">
    <mat-card>
      <mat-card-title>
        Login
      </mat-card-title>

      <mat-card-content>

        <mat-card-content>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email / Phone Number</mat-label>
            <input matInput type="text" placeholder="Ex. johndoe@gmail.com / 123456789" class="form-control"
              formControlName="emailOrPhone">
            <!-- error message -->
            <mat-error
              *ngIf="loginForm.get('emailOrPhone').hasError('pattern') && !loginForm.get('emailOrPhone').hasError('required')">
              Please enter a valid email address or phone number
            </mat-error>
            <mat-error *ngIf="loginForm.get('emailOrPhone').hasError('required')">
              Please enter your email address or phone number
            </mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="text" [type]="hide ? 'password' : 'text'" class="form-control"
            formControlName="password" />
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <!-- error message -->
          <mat-error
            *ngIf="loginForm.get('password').hasError('minlength') && !loginForm.get('password').hasError('required')">
            Password must be at least 6 characters long
          </mat-error>
          <mat-error *ngIf="loginForm.get('password').hasError('required')">
            Please enter your password
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button style="margin-right:10px" color="warn" [routerLink]="['/signup']"
          routerLinkActive="router-link-active">New User? Please Signup</button>
        <button mat-raised-button style="margin-right:10px; margin-left: 10px;" color="accent"
          [routerLink]="['/forgot-password']" routerLinkActive="router-link-active">Forgot Password ?</button>
        <button mat-raised-button style="margin-left:10px" color="primary" [disabled]="!loginForm.valid"
          type="submit">Login</button>
      </mat-card-actions>

    </mat-card>
  </form>

</div>