// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $display-4: mat-typography-level(1.875rem, 1.2, 400),
  $display-3: mat-typography-level(1.75rem, 1.2, 400),
  $display-2: mat-typography-level(1.625rem, 1.2, 400),
  $display-1: mat-typography-level(1.375rem, 1.2, 400),
  $headline: mat-typography-level(1.5rem, 1.2, 400),
  $title: mat-typography-level(1.25rem, 1.2, 400),
  $subheading-2: mat-typography-level(1.125rem, 1.2, 400),
  $subheading-1: mat-typography-level(1rem, 1.2, 400),
  $body-2: mat-typography-level(0.875rem, 1.4, 500),
  $body-1: mat-typography-level(0.875rem, 1.4, 400),
  $caption: mat-typography-level(0.813rem, 1.4, 400),
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-trade-force-primary: mat-palette($mat-light-blue);
$my-trade-force-accent: mat-palette($mat-deep-orange);

// The warn palette is optional (defaults to red).
$my-trade-force-warn: mat-palette($mat-red, 600);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$my-trade-force-theme: mat-light-theme(
  (
    color: (
      primary: $my-trade-force-primary,
      accent: $my-trade-force-accent,
      warn: $my-trade-force-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-trade-force-theme);

/* You can add global styles to this file, and also import other style files */
// @import "scss/utilities";
@import 'scss/base';
@import 'scss/all';
