html {
  min-height: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  outline: 0;
  max-width: 100%;
}

iframe {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
}
