// display------------------------------
.d {
  &-block {
    display: block !important;
  }
  &-inline-block {
    display: inline-block !important;
  }
  &-flex {
    display: flex !important;
  }
}

// flex direction-----------------------
.flex {
  &-row {
    flex-direction: row;
  }
  &-column {
    flex-direction: column;
  }
  &-none {
    flex: none !important;
  }
  &-1 {
    flex: 1 !important;
  }
  &-auto {
    flex: auto !important;
  }
}

// align items--------------------------
.align-items {
  &-center {
    align-items: center !important;
  }
  &-start {
    align-items: start !important;
  }
}

// align self---------------------------
.align-self {
  &-start {
    align-self: flex-start !important;
  }
  &-end {
    align-self: flex-end !important;
  }
  &-center {
    align-self: center !important;
  }
}

// justify-content----------------------
.justify-content {
  &-start {
    justify-content: flex-start !important;
  }
  &-end {
    justify-content: flex-end !important;
  }
  &-center {
    justify-content: center !important;
  }
  &-between {
    justify-content: space-between !important;
  }
  &-evenly {
    justify-content: space-evenly !important;
  }
}

// transform----------------------------
.text {
  &-lowercase {
    text-transform: lowercase !important;
  }
  &-uppercase {
    text-transform: uppercase !important;
  }
  &-capitalize {
    text-transform: capitalize !important;
  }
  // alignment
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
  // color
  &-primary {
    color: mat-color($primary);
  }
  &-accent {
    color: mat-color($accent);
  }
  &-warn {
    color: mat-color($warn);
  }
  &-success {
    color: mat-color($mat-green, 500);
  }
  &-dark {
    color: mat-color($mat-grey, 900) !important;
  }
  &-medium {
    color: mat-color($mat-grey, 500) !important;
  }
  &-light {
    color: mat-color($mat-grey, 200) !important;
  }
  &-black {
    color: #000 !important;
  }
  &-white {
    color: #fff !important;
  }
}

// position-----------------------------
.position {
  &-relative {
    position: relative !important;
  }
  &-absolute {
    position: absolute !important;
  }
  &-fixed {
    position: fixed !important;
  }
}
.top {
  top: 0 !important;
}
.right {
  right: 0 !important;
}
.bottom {
  bottom: 0 !important;
}
.left {
  left: 0 !important;
}

// z-index------------------------------
.z-index {
  &-1 {
    z-index: 1 !important;
  }
  &-2 {
    z-index: 2 !important;
  }
  &-3 {
    z-index: 3 !important;
  }
}

// font-weight--------------------------
.font-weight {
  &-100 {
    font-weight: 100 !important;
  }
  &-200 {
    font-weight: 200 !important;
  }
  &-300 {
    font-weight: 300 !important;
  }
  &-400 {
    font-weight: 400 !important;
  }
  &-500 {
    font-weight: 500 !important;
  }
  &-600 {
    font-weight: 600 !important;
  }
  &-700 {
    font-weight: 700 !important;
  }
  &-800 {
    font-weight: 800 !important;
  }
  &-900 {
    font-weight: 900 !important;
  }
}

// text-decoration----------------------
.text-decoration {
  &-none {
    text-decoration: none !important;
  }
}

// dialog-------------------------------
.dialog {
  &-xs {
    width: 320px;
  }
  &-sm {
    width: 640px;
  }
  &-md {
    width: 768px;
  }
  &-lg {
    width: 100%;
  }
}

// bg-----------------------------------
.bg {
  &-primary {
    background-color: mat-color($primary);
  }
  &-accent {
    background-color: mat-color($accent);
  }
  &-warn {
    background-color: mat-color($warn);
  }
  &-success {
    background-color: mat-color($mat-green, 500);
  }
  &-dark {
    background-color: mat-color($mat-grey, 900) !important;
  }
  &-medium {
    background-color: mat-color($mat-grey, 500) !important;
  }
  &-light {
    background-color: mat-color($mat-grey, 200) !important;
  }
  &-black {
    background-color: #000 !important;
  }
  &-white {
    background-color: #fff !important;
  }
}

// text-ellipsis------------------------
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// shadow-------------------------------
.shadow {
  &-0 {
    box-shadow: none !important;
  }
  &-1 {
    box-shadow: 0 0 $spacer rgba(0, 0, 0, 0.1) !important;
  }
  &-2 {
    box-shadow: 0 0 $spacer rgba(0, 0, 0, 0.2) !important;
  }
  &-3 {
    box-shadow: 0 0 $spacer rgba(0, 0, 0, 0.3) !important;
  }
  &-4 {
    box-shadow: 0 0 $spacer rgba(0, 0, 0, 0.4) !important;
  }
  &-5 {
    box-shadow: 0 0 $spacer rgba(0, 0, 0, 0.5) !important;
  }
}

// rounded------------------------------
.rounded {
  border-radius: $spacer/4 !important;
  &-top {
    border-top-left-radius: $spacer/4 !important;
  }
  &-right {
    border-top-right-radius: $spacer/4 !important;
  }
  &-bottom {
    border-bottom-right-radius: $spacer/4 !important;
  }
  &-left {
    border-bottom-left-radius: $spacer/4 !important;
  }
  &-circle {
    border-radius: 100% !important;
  }
}

// overflow-----------------------------
.overflow {
  &-hidden {
    overflow: hidden;
  }
  &-y {
    &-auto {
      overflow-y: auto;
    }
  }
}

// object-------------------------------
.object {
  &-contain {
    object-fit: contain;
  }
}

// width--------------------------------
.w {
  &-auto {
    width: auto !important;
    max-width: inherit;
  }
}

// height-------------------------------
.h {
  &-100 {
    height: 100% !important;
  }
}

// whitespace---------------------------
.white-space {
  &-normal {
    white-space: normal !important;
  }
}

// border-------------------------------
.border {
  border: 1px solid mat-color($mat-blue-grey, 100) !important;
  &-top {
    border-top: 1px solid mat-color($mat-blue-grey, 100) !important;
  }
  &-right {
    border-right: 1px solid mat-color($mat-blue-grey, 100) !important;
  }
  &-bottom {
    border-bottom: 1px solid mat-color($mat-blue-grey, 100) !important;
  }
  &-left {
    border-left: 1px solid mat-color($mat-blue-grey, 100) !important;
  }
  &-x {
    border-left: 1px solid mat-color($mat-blue-grey, 100) !important;
    border-right: 1px solid mat-color($mat-blue-grey, 100) !important;
  }
  &-y {
    border-top: 1px solid mat-color($mat-blue-grey, 100) !important;
    border-bottom: 1px solid mat-color($mat-blue-grey, 100) !important;
  }

  // theme
  &-primary {
    border-color: mat-color($primary);
  }
  &-accent {
    border-color: mat-color($accent);
  }
  &-warn {
    border-color: mat-color($warn);
  }
  &-success {
    border-color: mat-color($mat-green, 500);
  }
  &-dark {
    border-color: mat-color($mat-grey, 900) !important;
  }
  &-medium {
    border-color: mat-color($mat-grey, 500) !important;
  }
  &-light {
    border-color: mat-color($mat-grey, 200) !important;
  }
  &-black {
    border-color: #000 !important;
  }
  &-white {
    border-color: #fff !important;
  }
}
