<div fxLayout="coloumn" fxLayoutAlign="space-around center">

    <form [formGroup]="otpVerifyForm" (ngSubmit)="onSubmit(otpVerifyForm.value)" class="example-form">
        <mat-card>
            <mat-card-title>
                Verify your account <span class="mat-body-2">&#40;{{userEmail? userEmail:"No email has been
                    seleted"}}&#41;</span>
            </mat-card-title>

            <mat-card-content>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>OTP</mat-label>
                    <input matInput type="text" [type]="hide ? 'password' : 'text'" class="form-control"
                        formControlName="otp" />
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide otp'" [attr.aria-pressed]="hide">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <!-- error message -->
                    <mat-error *ngIf="otpVerifyForm.get('otp').hasError('required')">
                        Please enter your one time password (OTP)
                    </mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-raised-button style="margin-right:10px" color="warn" [routerLink]="['/login']"
                    routerLinkActive="router-link-active">Log in</button>
                <button type="button" mat-raised-button style="margin-right:10px; margin-left:10px" color="accent"
                    (click)="resendOtp()" routerLinkActive="router-link-active">Resend OTP</button>
                <button mat-raised-button style="margin-left:10px" color="primary" [disabled]="!otpVerifyForm.valid"
                    type="submit">Submit</button>
            </mat-card-actions>

        </mat-card>


    </form>
</div>